
/* 基础背景图片伸缩样式 */
.bg-img-no-repeat{ background-repeat: no-repeat;}
.bg-img-repeat{ background-repeat: repeat;}
.bg-img-cover{background-size: cover;}
.bg-img-contain{background-size: contain;}
.bg-img-auto{background-size: auto;}
.bg-img-center-cover,
.bg-img-top-cover,
.bg-img-bottom-cover,
.bg-img-left-cover,
.bg-img-right-cover{
    background-color: #fafafa;
    &:extend(.bg-img-no-repeat,.bg-img-cover);
}
.bg-img-center-cover{background-position: center;}
.bg-img-top-cover{background-position: top;}
.bg-img-bottom-cover{background-position: bottom;}
.bg-img-left-cover{background-position: left;}
.bg-img-right-cover{background-position: right;}
.bg-img-center-contain,
.bg-img-top-contain,
.bg-img-bottom-contain,
.bg-img-left-contain,
.bg-img-right-contain{
    background-color: #fafafa;
    &:extend(.bg-img-no-repeat,.bg-img-contain);
}
.bg-img-center-contain{background-position: center;}
.bg-img-top-contain{background-position: top;}
.bg-img-bottom-contain{background-position: bottom;}
.bg-img-left-contain{background-position: left;}
.bg-img-right-contain{background-position: right;}
.bg-img-center-auto,
.bg-img-top-auto,
.bg-img-bottom-auto,
.bg-img-left-auto,
.bg-img-right-auto{
    background-color: #fafafa;
    &:extend(.bg-img-no-repeat,.bg-img-auto);
}
.bg-img-center-auto{background-position: center;}
.bg-img-top-auto{background-position: top;}
.bg-img-bottom-auto{background-position: bottom;}
.bg-img-left-auto{background-position: left;}
.bg-img-right-auto{background-position: right;}

/* 基础鼠标样式 */
.cursor-pointer {cursor: pointer}
.cursor-default {cursor: default}

/* 基础字体样式 */
.font-weight-bold {font-weight: bold}
.font-weight-bolder {font-weight: bolder}
.font-weight-normal {font-weight: normal}

.font-size-12 {font-size: 12px;}
.font-size-13 {font-size: 13px;}
.font-size-14 {font-size: 14px;}
.font-size-15 {font-size: 15px;}
.font-size-16 {font-size: 16px;}
.font-size-18 {font-size: 18px;}
.font-size-20 {font-size: 20px;}

/* 基础布局类样式 */
.position-absolute {position: absolute}
.position-relative {position: relative}
.position-fixed {position: fixed}
.position-static {position: static}

.position-left-top {left: 0; top:0;}
.position-right-top {right: 0; top:0;}
.position-left-bottom {left: 0; bottom: 0;}
.position-right-bottom {right: 0; bottom: 0;}
.position-left {left: 0}
.position-right {right: 0}

/* 基础外距样式 */
.margin-0 {margin:0;}
.margin-0-auto {margin: 0 auto;}
.margin-auto-0 {margin: auto 0;}
.margin-left-0 {margin-left: 0;}
.margin-right-0 {margin-right: 0;}
.margin-top-0 {margin-top: 0;}
.margin-bottom-0 {margin-bottom: 0;}
.margin-5 {margin: 5px;}
.margin-5-auto {margin: 5px auto;}
.margin-auto-5 {margin: auto 5px;}
.margin-left-5 {margin-left: 5px;}
.margin-right-5 {margin-right: 5px;}
.margin-top-5 {margin-top: 5px;}
.margin-bottom-5 {margin-bottom: 5px;}
.margin-10 {margin: 10px;}
.margin-10-auto {margin: 10px auto;}
.margin-auto-10 {margin: auto 10px;}
.margin-left-10 {margin-left: 10px;}
.margin-right-10 {margin-right: 10px;}
.margin-top-10 {margin-top: 10px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-15 {margin: 15px;}
.margin-15-auto {margin: 15px auto;}
.margin-auto-15 {margin: auto 15px;}
.margin-left-15 {margin-left: 15px;}
.margin-right-15 {margin-right: 15px;}
.margin-top-15 {margin-top: 15px;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-20 {margin: 20px;}
.margin-20-auto {margin: 20px auto;}
.margin-auto-20 {margin: auto 20px;}
.margin-left-20 {margin-left: 20px;}
.margin-right-20 {margin-right: 20px;}
.margin-top-20 {margin-top: 20px;}
.margin-bottom-20 {margin-bottom: 20px;}

/* 基础内距样式 */
.padding-0 {padding: 0;}
.padding-left-0 {padding-left: 0;}
.padding-right-0 {padding-right: 0;}
.padding-top-0 {padding-top: 0;}
.padding-bottom-0 {padding-bottom: 0;}
.padding-5 {padding: 5px;}
.padding-5-auto {padding: 5px 0;}
.padding-auto-5 {padding: 0 5px;}
.padding-left-5 {padding-left: 5px;}
.padding-right-5 {padding-right: 5px;}
.padding-top-5 {padding-top: 5px;}
.padding-bottom-5 {padding-bottom: 5px;}
.padding-10 {padding: 10px;}
.padding-10-auto {padding: 10px 0;}
.padding-auto-10 {padding: 0 10px;}
.padding-left-10 {padding-left: 10px;}
.padding-right-10 {padding-right: 10px;}
.padding-top-10 {padding-top: 10px;}
.padding-bottom-10 {padding-bottom: 10px;}
.padding-15 {padding: 15px;}
.padding-15-auto {padding: 15px 0;}
.padding-auto-15 {padding: 0 15px;}
.padding-left-15 {padding-left: 15px;}
.padding-right-15 {padding-right: 15px;}
.padding-top-15 {padding-top: 15px;}
.padding-bottom-15 {padding-bottom: 15px;}
.padding-20 {padding: 20px;}
.padding-20-auto {padding: 20px 0;}
.padding-auto-20 {padding: 0 20px;}
.padding-left-20 {padding-left: 20px;}
.padding-right-20 {padding-right: 20px;}
.padding-top-20 {padding-top: 20px;}
.padding-bottom-20 {padding-bottom: 20px;}

/* 基础阴影样式 */
.shadow-3,
.shadow-hover-3 {box-shadow: 0 0 3px rgba(0, 0, 0, .3)}
.shadow-hover-3:hover {box-shadow: none}
.shadow-5,
.shadow-hover-5 {box-shadow: 0 0 5px rgba(0, 0, 0, .3)}
.shadow-hover-5:hover {box-shadow: none}
.shadow-8,
.shadow-hover-8 {box-shadow: 0 0 8px rgba(0, 0, 0, .3)}
.shadow-hover-8:hover {box-shadow: none}
.shadow-10,
.shadow-hover-10 {box-shadow: 0 0 10px rgba(0, 0, 0, .3)}
.shadow-hover-10:hover {box-shadow: none}

/* 基础边框样式 */
.border-none{ border: none;}
.border-solid {border-width: 1px; border-color:#ccc; border-style:solid;}
.border-top-solid {border-top-width: 1px; border-top-color:#ccc; border-top-style:solid;}
.border-bottom-solid {border-bottom-width: 1px; border-bottom-color:#ccc; border-bottom-style:solid;}
.border-top-bottom-solid {border-top-width: 1px; border-top-color:#ccc; border-top-style:solid;
    border-bottom-width: 1px; border-bottom-color:#ccc; border-bottom-style:solid;}
.border-left-solid {border-left-width: 1px; border-left-color:#ccc; border-left-style:solid;}
.border-right-solid {border-right-width: 1px; border-right-color:#ccc; border-right-style:solid;}
.border-left-right-solid {border-left-width: 1px; border-left-color:#ccc; border-left-style:solid;
    border-right-width: 1px; border-right-color:#ccc; border-right-style:solid;}

.border-width-1 {border-width: 1px;}
.border-width-2 {border-width: 2px;}
.border-width-3 {border-width: 3px;}
.border-width-4 {border-width: 4px;}
.border-width-5 {border-width: 5px;}

.border-success{ border-color: @success-color;}
.border-error{ border-color: @error-color;}
.border-warn{ border-color: @warn-color;}
.border-unactive{ border-color: @unactive-color;}
.border-active{ border-color: @active-color;}

/* 基础圆角样式 */
.border-radius-3{border-radius:3px;}
.border-radius-5{border-radius:5px;}
.border-radius-8{border-radius:8px;}
.border-radius-10{border-radius:10px;}
.border-radius-20{ border-radius:20px; }
.border-radius-50{ border-radius:50px; }
.border-radius-999{ border-radius:999px; }

/* 基础弹性容器样式 */
.flex-con {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex-row {flex-direction: row}
.flex-col {flex-direction: column}
.flex-nowrap {flex-wrap: nowrap}
.flex-wrap {flex-wrap: wrap}

.flex-1{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;}
.flex-2{-webkit-box-flex: 2;-webkit-flex: 2;flex: 2;}
.flex-3{-webkit-box-flex: 3;-webkit-flex: 3;flex: 3;}
.flex-4{-webkit-box-flex: 4;-webkit-flex: 4;flex: 4;}
.flex-5{-webkit-box-flex: 5;-webkit-flex: 5;flex: 5;}
.flex-6{-webkit-box-flex: 6;-webkit-flex: 6;flex: 6;}
.flex-7{-webkit-box-flex: 7;-webkit-flex: 7;flex: 7;}
.flex-8{-webkit-box-flex: 8;-webkit-flex: 8;flex: 8;}
.flex-9{-webkit-box-flex: 9;-webkit-flex: 9;flex: 9;}

/* 基础弹性容器内容水平排列样式 */
.flex-con-center {-ms-flex-pack:center;justify-content: center;}
.flex-con-start {-ms-flex-pack:start; justify-content: flex-start;}
.flex-con-end {-ms-flex-pack:end; justify-content: flex-end;}
.flex-con-between {-ms-flex-pack:justify; justify-content: space-between;}
.flex-con-around {-ms-flex-pack:distribute; justify-content: space-around;}

/* 基础弹性容器内容垂直排列样式 */
.align-items-center {-ms-flex-align: baseline;-webkit-align-items: center;align-items: center;}
.align-items-start {-ms-flex-align: start;-webkit-align-items: flex-start;align-items: flex-start;}
.align-items-end {-ms-flex-align: end;-webkit-align-items: flex-end;align-items: flex-end;}
.align-items-baseline {-ms-flex-align: baseline;-webkit-align-items: baseline;align-items: baseline;}
.align-items-stretch {-ms-flex-align: stretch;-webkit-align-items: stretch;align-items: stretch;}

/* 基础排列样式 */
.vertical-center {vertical-align: middle}
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}

.float-left {float: left}
.float-right {float: right}
.float-inherit {float: inherit}

/* 工具类样式 */
.hide {display: none;}
.show {display: inherit}
.flex {display: flex}

.transparent {opacity: 0}
.block {opacity: 1}

.transition-all {
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

.ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gen-ellipsis(3);
.gen-ellipsis(@n,@i:1) when (@i<=@n){
    .ellipsis-@{i}row{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: @i;overflow: hidden;
    }
    .gen-ellipsis(@n,(@i+1))
}

