//blue theme
@theme-color:#006fc0;
@transprent:transparent;

@active-color:#006fc0;
@error-color: #990000;
@warn-color: #ff6600;
@unactive-color: #cccccc;
@success-color: #016839;

@active-color-hover:#4d99d3;
@error-color-hover: #cc3333;
@warn-color-hover: #fa8232;
@unactive-color-hover: #e2e2e2;
@success-color-hover: #168f58;

@active-color-unactive:#9bbed9;
@error-color-unactive: #dc8383;
@warn-color-unactive: #f6a875;
@unactive-color-unactive: #ececec;
@success-color-unactive: #6fb294;