
/* 三角形样式 */
.triangle{width: 0;height: 0;}
.triangle.bg-success,
.triangle.bg-error,
.triangle.bg-warn,
.triangle.bg-unactive,
.triangle.bg-active{ background-color: transparent}

/* 锐角三角形样式 */

.triangle-up {
    .triangle(0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@white-color,10px,rgba(0,0,0,0));

    &.bg-success{.triangle(0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@success-color,10px,rgba(0,0,0,0));}
    &.bg-error{.triangle(0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@error-color,10px,rgba(0,0,0,0));}
    &.bg-warn{.triangle(0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@warn-color,10px,rgba(0,0,0,0));}
    &.bg-unactive{.triangle(0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@unactive-color,10px,rgba(0,0,0,0));}
    &.bg-active{.triangle(0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@active-color,10px,rgba(0,0,0,0));}
}
.triangle-down {
    .triangle(20px,@white-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0));

    &.bg-success{.triangle(20px,@success-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0));}
    &.bg-error{.triangle(20px,@error-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0));}
    &.bg-warn{.triangle(20px,@warn-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0));}
    &.bg-unactive{.triangle(20px,@unactive-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0));}
    &.bg-active{.triangle(20px,@active-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0));}
}
.triangle-left {
    .triangle(10px,rgba(0,0,0,0),20px,@white-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0));

    &.bg-success{.triangle(10px,rgba(0,0,0,0),20px,@success-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0));}
    &.bg-error{.triangle(10px,rgba(0,0,0,0),20px,@error-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0));}
    &.bg-warn{.triangle(10px,rgba(0,0,0,0),20px,@warn-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0));}
    &.bg-unactive{.triangle(10px,rgba(0,0,0,0),20px,@unactive-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0));}
    &.bg-active{.triangle(10px,rgba(0,0,0,0),20px,@active-color,10px,rgba(0,0,0,0),0,rgba(0,0,0,0));}
}
.triangle-right {
    .triangle(10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@white-color);

    &.bg-success{.triangle(10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@success-color);}
    &.bg-error{.triangle(10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@error-color);}
    &.bg-warn{.triangle(10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@warn-color);}
    &.bg-unactive{.triangle(10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@unactive-color);}
    &.bg-active{.triangle(10px,rgba(0,0,0,0),0,rgba(0,0,0,0),10px,rgba(0,0,0,0),20px,@active-color);}
}

/* 直角三角形样式 */

.triangle-top-left {
    .triangle(20px,@white-color,20px,rgba(0,0,0,0),0,rgba(0,0,0,0),0,rgba(0,0,0,0));
}
.triangle-top-right {
    .triangle(20px,@white-color,0,rgba(0,0,0,0),0,rgba(0,0,0,0),20px,rgba(0,0,0,0));
}
.triangle-top-left,
.triangle-top-right{
    &.bg-success{border-top-color:@success-color;}
    &.bg-error{border-top-color:@error-color;}
    &.bg-warn{border-top-color:@warn-color;}
    &.bg-unactive{border-top-color:@unactive-color;}
    &.bg-active{border-top-color:@active-color;}
}
.triangle-bottom-left {
    .triangle(0,rgba(0,0,0,0),20px,rgba(0,0,0,0),20px,@white-color,0,rgba(0,0,0,0));
}
.triangle-bottom-right {
    .triangle(0,rgba(0,0,0,0),0,rgba(0,0,0,0),20px,@white-color,20px,rgba(0,0,0,0));
}
.triangle-bottom-left,
.triangle-bottom-right{
    &.bg-success{border-bottom-color:@success-color;}
    &.bg-error{border-bottom-color:@error-color;}
    &.bg-warn{border-bottom-color:@warn-color;}
    &.bg-unactive{border-bottom-color:@unactive-color;}
    &.bg-active{border-bottom-color:@active-color;}
}